<html lang="fr">

<h1>Hello, {{ title }}</h1>
<p>Congratulations! Your app is running. 🎉</p>
<hr/><br>

<!-- Bouton pour afficher les infos des animaux -->
<button (click)="displayAllAnimals()">Afficher les animaux</button>
<br><br>
<!-- Liste des informations des animaux -->
<table  *ngIf="animaux.length > 0" border="1">
  <thead>
    <tr>
      <th>ID</th>
      <th>Espèce</th>
      <th>Poids</th>
      <th>Taille</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let animal of animaux">
      <td>{{ animal.id }}</td>
      <td>{{ animal.espece }}</td>
      <td>{{ animal.poids }}</td>
      <td>{{ animal.taille }}</td>
    </tr>
  </tbody>
</table>
<br>

<hr />
<app-stagiaires></app-stagiaires>
<hr />
<app-postes></app-postes>

</html>
